@use "sass:math";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

.container {
  max-width: 1000px;
  margin-top: 2rem;
  margin-inline: auto;
  padding: $space-std;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navbar{ 
  margin-top: 0;

  .navbar-right{
    text-align: right;
  }
}

.list-inline li{ 
  display: inline;
  text-transform: uppercase;
  font-size: 20px;

  :link,
  :hover,
  :active,
  :focus,
  :visited {
    text-decoration: none;
    color: $uoc-corporate;
  }

  :hover {background-color: #e2c53d;}

  a {
    padding: 15px;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  padding-block: $space-min;
}

h2,
h3 {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  border-block-end: dashed 1px;
}

p{
  font-size: 0.85rem;
}

.about-main {
  column-gap: $space-std;
  padding: $space-std;
}

.main-text {
  text-align: left;
  padding-bottom: $space-std;
}

.image-main {
  max-width: 100%;
  border-radius: 2rem;
}

@media (min-width: $mqMedWidth) {
  .about-main {
    display: flex;
    align-items: center;
  }

  .main-text,
  .image-main{max-width: 50%;}
}

.btn {
  margin-bottom: math.div($space-std,2);
  margin-inline: math.div($space-std,2);
  background-color: #e2c53d;
  color: rgba(0, 0, 0, 0.8);
  width: 10rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.15rem;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 2rem;
  border: 0;
  cursor: pointer;
}

.image-portfolio {
  max-width: 80%;
  margin-block: $space-std;
  border-radius: 2rem;
}

.resume {
  margin-block: $space-std;

  .resume-content {
    padding-block: $space-std;
  }
}

.fa-brands,
.fa-light{
  font-size: 30px;
  color: grey;
}